/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
@import url("https://use.typekit.net/njg2gyn.css");
@import "_vars";

body {
    background-color: $body-bg-color;
    font-family: 'sofia-pro', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-top: 7.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'sofia-pro', sans-serif;
}