@import '_vars';

#company {
    margin-top: 17rem;
    margin-bottom: 10rem;

    #values {
        margin-top: 6.5rem;
    }

    .subtext {
        margin-top: 10rem;
    }

    .values-box {
        width: 100px;
        height: 125px;
        text-align: center;
        margin: 15px;
    
        span {
            font-weight: 900;
            margin-top: 25px;
            display: inline-block;
        }
    }
}

