@import '_vars';

#company {
    padding: 10rem 0;
    margin-bottom: 5rem;
    background-color: $body-bg-color-alt;

    .card {
        text-align: center;
        height: 10rem;
    }

    .card-body {
        font-size: 0.9rem;
        font-weight: 900;
        margin-top: 30%;
    }

    .btn {
        margin-top: 3rem;
    }
}

