@import '_vars';

#footer {
    padding-bottom: 3rem;
    h5 {
        font-size: 1.35rem;
        font-weight: 700;
        display: inline;
        margin-right: 15px;
    }
    i {
        color: $lime-green-color;
        margin: 0 15px;
        font-size: 1.75rem;
    }

    span {
        color: $sub-text-color;
    }

    @media (max-width: 767px) {
        span {
            display: inline-block;
            margin-top: 1rem;
        }
    }
}