@import '_vars';

.tagline {
    margin-top: 6.5rem;
    
    h1 {
        font-weight: 600;
        font-size: 3.25rem;
        color: $base-text-color;
        letter-spacing: -.12rem;

        b {
            color: $highlight-text-color;
            font-weight: 600;
        }
    }

    span {
        display: block;
        margin-top: 2rem;
        font-size: 1.4rem;
        font-weight: 200;
        color: $sub-text-color;
    }
}

img.illustration {
    margin-top: 4rem;
}