@import '_vars';

#learn-more {
    margin-top: 15rem;
    margin-bottom: 10rem;
    padding-top: 20rem;
    padding-bottom: 12.5rem;
    background-color: #fafafa;

    img {
        opacity: 0.65;
    }

    .btn {
        margin-top: 3rem;
        display: inline-block;
    }

    .tagline {
        margin-top: 6.5rem;
    }

    .subtext {
        margin-top: 1.4rem;
        display: inline-block;
    }
}